/* 这是test_manage.html的CSS */
.upload-file-status{
    position: relative;
    background: #f1eaea;
}
.test-status-title{
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    left: 20px;
}
.test_button{
    position: absolute;
    left: 20px;
    top: 40px;
}
.table-view{
    position: absolute;
    border-collapse: collapse;
    word-wrap: break-word;
    word-break: break-all;
    vertical-align: top;
    top: 12px;
    left:200px
}
.no_view{
    display: none;
}
.test-yes{
    color: green;
}
.test-no{
    color: red;
}
/*.upload_files_list{*/
    /*position: relative;*/
    /*top: 90px;*/
/*}*/
.test_list_title{
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
}
#test_list{
    margin-left: 20px;
}
.show_stu_tests{
    position: absolute;
    border-collapse: collapse;
    word-wrap: break-word;
    word-break: break-all;
    vertical-align: top;
    top: -43px;
    right: 600px;
}
div .make_test{
    margin: 36px 0;
    position: relative;
    top: 100px;
    left: 8px;
    width: 200px;
    height: 260px;
}
.make_test_title{
    position: absolute;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    left: 15px;
}
.make_test_box{
    position: absolute;
    top: 40px;
    left: 10px;
}
.make_test_list .make_test_tb{
    position: absolute;
    top: 60px;
    left: 270px;
    width: 303px;
}
.make_test_list .make_test_input{
        width: 220px;
}
#download_tests{
    display: none;
}
.download_tests{
    display: none;
}
.build_tests{
    display: none;
}
.display{
    background: white;
}