/* test_upload.html的CSS */

.upload-file{
        background-color: #f5f2f2;
        padding: 22px;
        margin-top: 0;
        width: 270px;
        display: block;
        float: left;
        height: 350px;
}
.upload-title{
    font-size: 24px;
    word-wrap: break-word;
    font-weight: bold;
    margin-left: 0;
    width: 125px;
}
.select-file{
    margin-top: 40px;
}
.upload-msg{
    background-color: #f5f2f2;
    padding: 22px;
    margin-top: 0;
    margin-left: 20px;
    width: 330px;
    display: block;
    float: left;
    height: 350px;
}