{% extends 'base.html' %}

{% block title %}
    <title>作业上传 | 允许上传</title>
{% endblock %}

{% block css-js-file %}

{% endblock %}

{% block img_tip2 %}
    <img src="/static/images/tip.png" style="display: inline-block;float: right;margin: -29px 29px;">
{% endblock %}

{% block home_manage %}
    <h3 class="sub-header">允许提交的作业</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                {% for test_menu in InfoHandled.file_dict.keys %}
                    <tr>
                        <td>{{ test_menu }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/cmdb/test_upload/">返回</a>
{% endblock %}