<!--主页-->

{% extends 'base.html' %}

{% block title %}
    <title>作业管理主页</title>
{% endblock %}

{% block css-js-file %}
    <!--  这儿是放置每个页面的CSS或者JS文件的-->
{% endblock %}

{% block img_tip1 %}
    <img src="/static/images/tip.png" style="display: inline-block;float: right;margin: -29px 29px;">
{% endblock %}

{% block home_manage %}
    <h3 style="color: blue;">主页中心</h3>
    <div style="margin: 25px 0;"></div>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder" style="font-size: 18px;">
            <strong>待提交的作业</strong><br/>
            <table class="table table-striped">
                <tbody>
                    {% for k, v_list in InfoHandled.REPORTS.items %}
                        {% if k == "START" %}
                            {% for row in v_list %}
                                <tr>
                                    <td style="color: limegreen;">{{ row }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <strong>已结束的作业</strong>
            <table class="table table-striped">
                <tbody>
                    {% for k, v_list in InfoHandled.REPORTS.items %}
                        {% if k == "END" %}
                            {% for row in v_list %}
                                <tr>
                                    <td style="color: firebrick;">{{ row }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block js %}


{% endblock %}