<!--用户反馈页面-->

{% extends 'base.html' %}

{% block css-js-file %}

{% endblock %}

{% block img_tip8 %}
    <img src="/static/icon/tip.png" style="display: inline-block;float: right;margin: -29px 29px;">
{% endblock %}

{% block home_manage %}
    <h3 style="color: blue;">意见反馈</h3>
    <form action="information.html" method="post">
        <textarea name="reworkmes" cols="40" rows="6" style="OVERFLOW: visible" placeholder="在这儿写下你的想法....."></textarea><br/>
        <input type="reset" value="重置" style="background: white;"/>
        <input type="submit" value="提交" style="background: white;"/>
    </form>

{% endblock %}