{% extends 'tag.html' %}

{% block css-js-file %}
    <link rel="stylesheet" type="text/css" href="/static/music-download.css">
{% endblock %}

{% block home_manage %}
    <h3 style="color: blue;">音乐下载主页</h3>
    <div>
        <form action="music_download.html" method="post">
            <label>请输入歌名：</label>
            <input type="text" placeholder="歌名" name="music_name"/>
            <select name="search_type">
                <option value="kg">酷狗音乐搜索</option>
                <option value="qq">QQ音乐搜索</option>
            </select>
            <input type="submit" value="搜索"/>
        </form>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="margin: 0 -30px;font-size: 16px">
        <h4 class="sub-header">为你找到以下内容</h4>
        <div>
            <form action="music_download.html" method="post">
                <input type="text" name="platform" value="{{ InfoHandled.user_request.platform }}" style="display: none;">
                <input type="text" name="remusic_name" value="{{ InfoHandled.user_request.music_name }}" style="display: none;">
                <label>选择要下载歌曲的序号：</label>
                <input type="number" name="index" />
                <input type="submit" value="下载" />
            </form>
        </div>

        <div class="table-responsive">
            <form action="music_download.html" method="post">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>歌手</th>
                        <th>歌名</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ InfoHandled.error_msg.error }}  <!--如果这个值存在，说明爬取信息失败，那么久将失败信息给用户-->
                    {% for song in InfoHandled.song_list %}
                        <tr>
                            <td>{{ song.song_index }}</td>
                            <td>{{ song.singer }}</td>
                            <td><a href="{{ song.song_url }}" target="_Blank">{{ song.song_name }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
