{% extends 'tag.html' %}

{% block css-js-file %}

{% endblock %}

{% block home_manage %}
    <h3 class="sub-header">已提交的作业</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                {% for file in InfoHandled.uploaded_files %}
                    <tr>
                        <td>{{ file }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/cmdb/test_upload/">返回</a>
{% endblock %}