<!--用户上传文件只有，可以在这个界面查看到他已经提交过的作业-->

{% extends 'base.html' %}

{% block title %}
    <title>作业提交 | 已提交</title>
{% endblock %}

{% block css-js-file %}

{% endblock %}

{% block img_tip2 %}
    <img src="/static/images/tip.png" style="display: inline-block;float: right;margin: -29px 29px;">
{% endblock %}

{% block home_manage %}
    <h3 class="sub-header">已提交的作业</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                {% for file in InfoHandled.uploaded_files %}
                    <tr>
                        <td>{{ file }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/cmdb/test_upload/">返回</a>
{% endblock %}