{% extends 'tag.html' %}

{% block css-js-file %}
    <link rel="stylesheet" type="text/css" href="/static/test_upload.css">
{% endblock %}

{% block home_manage %}
    <div class="upload-file">
        <div class="upload-title" style="position: relative;">上传作业</div>
        <div>
            <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                <input type="file" name="upload" class="select-file">
                <input type="submit" value="上传"><br>
                <div style="position:absolute; color: red;margin: 5px 0;">本次允许上传的作业</div>
                <div style="position:absolute;margin: 30px 0;">
                    {% for menu in InfoHandled.menus_tests.keys %}
                        <li>{{ menu }}</li>
                    {% endfor %}
                </div>

            </form>
        </div>
    </div>
    <div class="upload-msg">
        <div class="upload-title">已上传作业</div>
        <div>
            {% for file in InfoHandled.uploaded_files %}
                <li>{{ file }}</li>
            {% endfor %}
        </div>
    </div>

 {% endblock %}

