<!--作业管理主页，也只有管理员才能看的页面，这儿可以指导管理员进行正确的操作-->

{% extends 'base.html' %}

{% block css-js-file %}
    <link rel="stylesheet" type="text/css" href="/static/css/test_upload.css">
{% endblock %}

{% block img_tip3 %}
    <img src="/static/icon/tip.png" style="display: inline-block;float: right;margin: -29px 29px;">
{% endblock %}

{% block home_manage %}
    <h3 style="color: blue;">作业管理主页</h3>
    <p></p>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder" style="margin: 30px 30px;">
            <img src="/static/icon/笔盒.png" class="img-responsive" alt="Generic placeholder thumbnail">
            <p></p>
            <p>去这儿查看作业清单吧</p>
            {% if InfoHandled.user_type == "Ordinary" %}
                <p style="color: red;">由于您不是管理员，所以无法查看</p>
            {% else %}
                <a href="/cmdb/test_list/">GO>></a>
            {% endif %}
        </div>
        <div class="col-xs-6 col-sm-3 placeholder" style="margin: 30px 30px;">
            <img src="/static/icon/窗户.png" class="img-responsive" alt="Generic placeholder thumbnail">
            <p></p>
            <p>这儿有作业提交情况</p>
            <a href="/cmdb/test_status/">GO>></a>
        </div>
    </div>

{% endblock %}

{% block js %}

{% endblock %}
