<!--作业管理页面的一个分支，管理员可以在这儿直观的看到作业提交情况，已提交的是绿色，未提交的是红色-->

{% extends 'base.html' %}

{% block title %}
    <title>作业管理 | 提交情况</title>
{% endblock %}

{% block css-js-file %}

{% endblock %}

{% block img_tip3 %}
    <img src="/static/images/tip.png" style="display: inline-block;float: right;margin: -29px 29px;">
{% endblock %}

{% block home_manage %}
    <h3 class="sub-header">作业情况</h3>
    <div class="table-responsive">
        <table class="table table-striped" id="test_status">
            <tbody>
            {% for stu in InfoHandled.stu_info %}
                <tr>
                    {% for item in stu %}
                        {% if item == '0' %}
                            <td style="color: red">{{ "未提交" }}</td>
                        {% elif item == '1' %}
                            <td style="color: green">{{ "已提交" }}</td>
                        {% else %}
                            <td>{{ item }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/cmdb/test_manage/">返回</a>
{% endblock %}