<!--普通用户作业上传的主页，在这儿可以引导用户进入分支页进行相关的操作-->

{% extends 'base.html' %}

{% block title %}
    <title>作业提交主页</title>
{% endblock %}

{% block css-js-file %}
    <link rel="stylesheet" type="text/css" href="/static/css/test_upload.css">
{% endblock %}

{% block img_tip2 %}
    <img src="/static/images/tip.png" style="display: inline-block;float: right;margin: -29px 29px;">
{% endblock %}

{% block home_manage %}
    <h3 style="color: blue;">作业提交主页</h3>
    <p></p>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder" style="margin: 30px 30px;">
            <img src="/static/images/pen_box.png" class="img-responsive" alt="Generic placeholder thumbnail">
            <p></p>
            <p>去这儿查看最新布置的作业吧</p>
            <a href="/cmdb/allow_upload/">GO>></a>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder" style="margin: 30px 30px;">
            <img src="/static/images/test_forget.png" class="img-responsive" alt="Generic placeholder thumbnail">
            <p></p>
            <p>去这儿提交你的作业吧</p>
            <a href="/cmdb/upload_test/">GO>></a>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder" style="margin: 30px 30px;">
            <img src="/static/images/window.png" class="img-responsive" alt="Generic placeholder thumbnail">
            <p></p>
            <p>这儿有你已提交过的作业清单</p>
            <a href="/cmdb/show_uploaded/">GO>></a>
        </div>
    </div>

{% endblock %}

{% block js %}

{% endblock %}
