{% extends 'tag.html' %}

{% block css-js-file %}
    <link rel="stylesheet" type="text/css" href="/static/test_upload.css">
{% endblock %}

{% block home_manage %}
    <h3 style="color: blue;">作业提交主页</h3>
    <p></p>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder" style="margin: 30px 30px;">
            <img src="/static/笔盒.png" class="img-responsive" alt="Generic placeholder thumbnail">
            <p></p>
            <p>去这儿查看最新布置的作业吧</p>
            <a href="/cmdb/allow_upload/">GO>></a>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder" style="margin: 30px 30px;">
            <img src="/static/作业忘带了.png" class="img-responsive" alt="Generic placeholder thumbnail">
            <p></p>
            <p>去这儿提交你的作业吧</p>
            <a href="/cmdb/upload_test/">GO>></a>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder" style="margin: 30px 30px;">
            <img src="/static/窗户.png" class="img-responsive" alt="Generic placeholder thumbnail">
            <p></p>
            <p>这儿有你已提交过的作业清单</p>
            <a href="/cmdb/show_uploaded/">GO>></a>
        </div>
    </div>

{% endblock %}

{% block js %}

{% endblock %}
